version: '2.0'
services:
  mark-web:
    image: cylab/mark-web:1.0.0
    environment:
    - MARK_HOST=example_mark_1
    - MARK_PORT=8080
    ports:
    - "8000:80"
    depends_on:
    - mark
  mark:
    build: .
    environment:
    - MARK_MONGO_HOST=example_mongo_1
    depends_on:
    - mongo
  mongo:
    image: mongo:4.4
