#
# MARK-EXAMPLE
# $CI_COMMIT_SHORT_SHA
#

version: '2.0'
services:
  mark-web:
    image: cylab/mark-web:1.5.1
    environment:
      - MARK_HOST=mark
      - MARK_PORT=8080
    ports:
      - 80
    volumes:
      - mark-data:/var/www/html/storage/app/data
    depends_on:
      - mark
  mark:
    image: $CI_REGISTRY_IMAGE/example:$CI_COMMIT_SHORT_SHA
    environment:
      - MARK_MONGO_HOST=mongo
    volumes:
      - mark-data:/mark/data
    depends_on:
      - mongo
  mongo:
    image: mongo:4.4
    volumes:
      - mark-mongo:/data/db

volumes:
  mark-data:
  mark-mongo:
