stages:
  - test
  - integration
  - build
  - release

cache:
  paths:
    - .m2/

test:jdk-8:mongo-3.2:
  stage: test
  image: maven:3.6-jdk-8
  services:
    - mongo:3.2
  script: export MARK_MONGO_HOST="mongo" && mvn clean install -Dgpg.skip=true -Dmaven.repo.local=.m2
  
test:jdk-8:mongo-3.6:
  stage: test
  image: maven:3.6-jdk-8
  services:
    - mongo:3.6
  script: export MARK_MONGO_HOST="mongo" && mvn clean install -Dgpg.skip=true -Dmaven.repo.local=.m2    
  artifacts:
    paths:
    - "server/target"
    - "example/target"

test:jdk-11:mongo-3.6:
  stage: test
  image: maven:3.6-jdk-11
  services:
    - mongo:3.6
  script: export MARK_MONGO_HOST="mongo" && mvn clean install -Dgpg.skip=true -Dmaven.repo.local=.m2

test:jdk-11:mongo-4.4:
  stage: test
  image: maven:3.6-jdk-11
  services:
    - mongo:4.4
  script:
    - export MARK_MONGO_HOST="mongo" && mvn clean install -Dgpg.skip=true -Dmaven.repo.local=.m2
    # extract code coverage from jacoco.csv
    - apt update && apt install -y gawk
    - ./jacoco-summary.sh coverage/target/site/jacoco-aggregate/jacoco.csv
    # create png uml diagram
    - apt install -y graphviz
    - sed -i 's/</\\</g' server/target/server.urm.dot
    - sed -i 's/>/\\>/g' server/target/server.urm.dot
    - sed -i 's/-\\>/->/g' server/target/server.urm.dot
    - dot -Tpng server/target/server.urm.dot -o server/target/server.urm.png
  # Use this regular expression to create the coverage badge.
  coverage: '/^\s*Instructions:\s*\d+.\d+\%/'
  artifacts:
    paths:
    - "server/target"
    - "example/target"

integration:
  stage: integration
  image: cylab/java8-mongo
  dependencies:
    # so we don't have to compile the code ourselfs..
    - test:jdk-8:mongo-3.6
  script:
    # install what we need
    - apt-get update
    - apt-get install -y mongodb openjdk-8-jdk
    - service mongodb start
    # run example server
    - bash example/run.sh &
    - sleep 30
    - kill %1
    # test we have some results...
    - bash example/test.sh

#
# build docker images and push to gitlab's built-in docker registry
#
build:
  stage: build
  dependencies:
    - test:jdk-11:mongo-4.4
  # this job requires docker-in-docker
  tags:
    - dind
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  before_script:
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # pull previous image version to enable caching inside dind
    - docker pull cylab/mark:latest || true
    # mark-server
    - docker build --tag gitlab.cylab.be/cylab/mark:$CI_COMMIT_SHORT_SHA --tag gitlab.cylab.be/cylab/mark:latest .
    - docker push gitlab.cylab.be/cylab/mark:$CI_COMMIT_SHORT_SHA
    - docker push gitlab.cylab.be/cylab/mark:latest
    # mark-example
    - docker build --file Dockerfile-example --tag gitlab.cylab.be/cylab/mark-example:$CI_COMMIT_SHORT_SHA --tag gitlab.cylab.be/cylab/mark-example:latest .
    - docker push gitlab.cylab.be/cylab/mark-example:$CI_COMMIT_SHORT_SHA
    - docker push gitlab.cylab.be/cylab/mark-example:latest

#
# build docker images and push to Docker Hub
# (only for tags)
#
release:docker:
  stage: release
  # only when we push a new tag
  only:
    - tags
  dependencies:
    - test:jdk-11:mongo-4.4
  # this job requires docker-in-docker
  tags:
    - dind
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  before_script:
    - docker info
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  script:
    # pull previous image version to enable caching inside dind
    - docker pull cylab/mark:latest || true
    # standalone server
    - docker build --tag cylab/mark:$CI_COMMIT_TAG --tag cylab/mark:latest .
    - docker push cylab/mark:$CI_COMMIT_TAG
    - docker push cylab/mark:latest
    # mark-example
    - docker build --file Dockerfile-example --tag cylab/mark-example:$CI_COMMIT_TAG --tag cylab/mark-example:latest .
    - docker push cylab/mark-example:$CI_COMMIT_TAG
    - docker push cylab/mark-example:latest
 

release:zip:
  stage: release
  only:
    - tags
  image: cylab/php72
  script:
    - "curl https://download.cylab.be/api/mark/server-$CI_COMMIT_TAG-standalone.zip  --request POST --header \"Authorization: Bearer $UPLOAD_TOKEN\" -F \"file=@./server/target/server-$CI_COMMIT_TAG-standalone.zip\""

