{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Multi Agent Ranking Framework</h1>

<h2>{{ label }}</h2>

<form style="margin-bottom: 10px" method="GET" class="form-inline">
  <div class="form-group">
    <label for="agent">Detector : </label>
    <select class="form-control" id="label" name="label">
      {% for other in labels %}
      <option {{ (other == label) ? "selected" : "" }}>{{ other }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Apply</button>
</form>

<table class="table">
  <tr>
    <th>Subject</th>
    <th>Score</th>
    <th>Time</th>
  </tr>

  {% for evidence in evidences %}
  <tr>
    <td>
      <a href="/report/{{ evidence.getId() }}">
        {{ evidence.getSubject() }}
      </a>
    </td>
    <td>{{ evidence.getScore() }}</td>
    <td>{{ evidence.timeFormatted() }}</td>
  </tr>
  {% endfor %}
</table>

<div class="text-center">
    {% if page > 1 %}
    <a href="/?label={{ label }}&page={{ (page - 1) }}" class="btn btn-sm btn-primary">&lt; prev</a>
    {% endif %}
    <span class="p-lr-5">{{ page }}</span>
    <a href="/?label={{ label }}&page={{ (page + 1) }}" class="btn btn-sm btn-primary">next &gt;</a>
</div>

<div>MARK {{ markversion }}</div>
{% endblock %}