{% extends "layout.html" %}

{% block title %} Report {% endblock %}

{% block content %}
<h1>{{ report.getSubject() }}</h1>

<p>Report id: <b>{{ report.getId() }}</b></p>
<p>Subject: <b>{{ report.getSubject() }}</b></p>
<p>Score: <b>{{ report.getScore() }}</b></p>
<p>Timestamp: {{ report.timeFormatted() }}</p>

<div class="card my-4">
    <div class="card-body">
        {{ report.getReport() | raw }}
    </div>
</div>

<h3>Detector : {{ report.getProfile().getLabel() }}</h3>
<p>Algorithm: {{ report.getProfile().getClassName() }}</p>
<p>Trigger label: {{ report.getProfile().getTriggerLabel() }}</p>
<p>Parameters:</p>

<ul>
    {% for p in report.getProfile().getParameters() %}
    <li>{{ p.getKey() }} : {{ p.getValue() }}</li>
    {% endfor %}
</ul>

<h3>Data requests</h3>

<p>This detector has queried following data:</p>

<table class="table table-striped">
{% for r in report.getRequests() %}
<tr>
    <td>{{ r }}</td>
    <td class="text-right">
        <a href="/report/{{ report.getId() }}/data/{{ loop.index }} " class="btn btn-primary btn-xs">Inspect</a>
    </td>
</tr>
{% endfor %}
</table>

<h3>History</h3>

<p>This detector also produced following scores for subject {{ report.getSubject() }}...</p>

<canvas id="chart-report-history"></canvas>

<table class="table table-striped">
{% for r in history %}
<tr>
    <td>{{ r.getScore() }}</td>
    <td>{{ r.timeFormatted() }}</td>
    <td class="text-right">
        <a href="/report/{{ r.getId() }}" class="btn btn-xs btn-primary">View</a>
    </td>
</tr>
{% endfor %}
</table>

<h3>References</h3>

This detector used following other reports to compute a score.

<table class="table table-striped">
{% for r in references %}
<tr>
    <td>{{ r.getScore() }}</td>
    <td>{{ r.timeFormatted() }}</td>
    <td class="text-right">
        <a href="/report/{{ r.getId() }}" class="btn btn-xs btn-primary">View</a>
    </td>
</tr>
{% endfor %}
</table>

<script>
var ctx = document.getElementById('chart-report-history').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        datasets: [{
            borderColor: 'rgb(255, 99, 132)',
            data: {{ history_json | raw }}
        }]
    },

    // Configuration options go here
    options: {
        legend: {
            display: false,
        },
        elements: {
            line: {
                tension: 0 // disables bezier curves
            }
        },
        scales: {
            xAxes: [{
                type: 'time',
                display: true,
                scaleLabel: {
                        display: true,
                        labelString: 'Time'
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Score'
                }
            }]
        }
    }
});
</script>

{% endblock %}


