{% extends "layout.html" %}

{% block title %} Status {% endblock %}

{% block content %}
<h2>Status</h2>

<p>Version {{ status.get("version") }}</p>
<p>Running: {{ status.get("running") }}</p>

<div>
    {% if (status.get("running")) %}
    <a href="/status/pause" class="btn btn-warning">
        <i class="fas fa-pause"></i> Pause
    </a>
    {% else %}
    <a href="/status/resume" class="btn btn-success">
        <i class="fas fa-play"></i> Resume
    </a>
    {% endif %}
</div>


<h2>Executor Status</h2>

<p>Executed jobs: {{ executor.get("executed") }}</p>
<p>Running jobs: {{ executor.get("running") }}</p>
<p>Waiting jobs: {{ executor.get("waiting") }}</p>


<h2>Activation cascade</h2>
<div id="activation-graph"></div>

<script src="/js/viz.js"></script>
<script>
    var mark_url = "{{ mark.getURL() }}";
    var json_request_body = {"jsonrpc": "2.0",
        "method": "activation",
        "params": {},
        "id": 123
    };

    var request = new XMLHttpRequest();
    request.open('POST', mark_url, true);
    request.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded; charset=UTF-8');
    request.addEventListener('load', function() {
        if (request.readyState == 4 && request.status == 200) {
            // Request succeeded => draw graph
            var json_response = JSON.parse(request.responseText);
            draw(json_response.result);
        } else {

        }
    });

    request.send(JSON.stringify(json_request_body));

    function draw(detection_agents) {

        // each detection agent has following attributes:
        // - label
        // - trigger_label
        // - class_name

        // Describe the graph using graphviz dot notation
        // 1. Add the nodes (the agents)
        var graph_src = 'digraph G { rankdir=LR; node [fontsize=13, shape=box]; ';
        detection_agents.forEach(function(detection_agent){
            console.log(detection_agent);
            graph_src += '"' + detection_agent.label +  '" [label="'
                    + detection_agent.className + '\n'
                    + detection_agent.label + '"];\n';
        });

        // 2. Add the edges
        detection_agents.forEach(function(detection_agent){
            var matches = 0;
            detection_agents.forEach(function(other){
                if (other.label.startsWith(detection_agent.triggerLabel)) {
                    graph_src += '"' + other.label + '" -> "'
                        + detection_agent.label + '"; ';
                    matches++;
                }
            });

            // We found no agent that will trigger this detection agent
            // => must be a data agent
            // => draw manually...
            if (matches === 0) {
               graph_src += '"' + detection_agent.triggerLabel + '" -> "'
                    + detection_agent.label + '"; ';
            }

        });


        graph_src += '}';

        console.log(graph_src);

        // let graphviz compute the graph representation
        var graph_graphviz = Viz(graph_src);

        // inject the graph svg in the page
        var parser = new DOMParser();
        var graph_svg = parser.parseFromString(graph_graphviz, "image/svg+xml");
        document.querySelector("#activation-graph")
                .appendChild(graph_svg.documentElement);
    }

</script>

{% endblock %}