{% extends "layout.html" %}

{% block title %} Status {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card my-4">
            <div class="card-body">
                <h2>Status</h2>

                <p>MARK version {{ status.get("version") }}</p>

                <p>Load: {{ status.get("load") }} ({{ status.get("processors") }} processors)</p>
                <p>Memory: {{ (status.get("memory.total") / 1024 / 1024) | numberformat("#") }}MB</p>
                <p>Used: {{ (status.get("memory.used") / 1024 / 1024) | numberformat("#") }}MB</p>

                <p>Running: {{ status.get("running") }}</p>

                <div>
                    {% if (status.get("running")) %}
                    <a href="/status/pause" class="btn btn-warning">
                        <i class="fas fa-pause"></i> Pause
                    </a>
                    {% else %}
                    <a href="/status/resume" class="btn btn-success">
                        <i class="fas fa-play"></i> Resume
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card my-4">
            <div class="card-body">
                <h2>Executor Status</h2>

                <p>Executed jobs: {{ executor.get("executed") }}</p>
                <p>Running jobs: {{ executor.get("running") }}</p>
                <p>Waiting jobs: {{ executor.get("waiting") }}</p>


                <p>Job wait time: {{ executor.get("job.waittime") | numberformat("#") }}ms</p>
                <p>Job execution time: {{ executor.get("job.executetime") | numberformat("#") }}ms</p>

                <p>Total nodes: {{ executor.get("nodes") }}</p>
                <p>Total CPU's: {{ executor.get("cpus") }}</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card my-4">
            <div class="card-body">
                <h2>DB Status</h2>

                <table class='table table-striped'>
                    <tr>
                        <th></th>
                        <th>Records</th>
                        <th>Size (MB)</th>
                    </tr>

                    <tr>
                        <th>Data</th>
                        <td>{{ dbstatus.get("data.count") }}</td>
                        <td>{{ (dbstatus.get("data.size") / 1024 / 1024) | numberformat("#") }}</td>
                    </tr>

                    <tr>
                        <th>Evidence</th>
                        <td>{{ dbstatus.get("evidence.count") }}</td>
                        <td>{{ (dbstatus.get("evidence.size") / 1024 / 1024) | numberformat("#") }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<h2>Activation cascade</h2>
<div id="activation-graph"></div>

<div class="text-muted bottom-right">
    Reload in <span id="reload-countdown">60</span> seconds
</div>

<script type="text/javascript">
    var reload_countdown = 60;
    setInterval(function() {
        reload_countdown -= 1;
        $('#reload-countdown').text(reload_countdown);

        if (reload_countdown === 0) {
            console.log('reload...');
            location.reload();
        }
    }, 1000);
</script>

<script src="/js/viz.js"></script>
<script>
    var mark_url = "{{ mark.getURL() }}";
    var json_request_body = {"jsonrpc": "2.0",
        "method": "activation",
        "params": {},
        "id": 123
    };

    var request = new XMLHttpRequest();
    request.open('POST', mark_url, true);
    request.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded; charset=UTF-8');
    request.addEventListener('load', function() {
        if (request.readyState == 4 && request.status == 200) {
            // Request succeeded => draw graph
            var json_response = JSON.parse(request.responseText);
            draw(json_response.result);
        } else {

        }
    });

    request.send(JSON.stringify(json_request_body));

    function draw(detection_agents) {

        // each detection agent has following attributes:
        // - label
        // - trigger_label
        // - class_name

        // Describe the graph using graphviz dot notation
        // 1. Add the nodes (the agents)
        var graph_src = 'digraph G { rankdir=LR; node [fontsize=13, shape=box]; ';
        detection_agents.forEach(function(detection_agent){
            console.log(detection_agent);
            graph_src += '"' + detection_agent.label +  '" [label="'
                    + detection_agent.className + '\n'
                    + detection_agent.label + '"];\n';
        });

        // 2. Add the edges
        detection_agents.forEach(function(detection_agent){
            var matches = 0;
            detection_agents.forEach(function(other){
                if (other.label.startsWith(detection_agent.triggerLabel)) {
                    graph_src += '"' + other.label + '" -> "'
                        + detection_agent.label + '"; ';
                    matches++;
                }
            });

            // We found no agent that will trigger this detection agent
            // => must be a data agent
            // => draw manually...
            if (matches === 0) {
               graph_src += '"' + detection_agent.triggerLabel + '" -> "'
                    + detection_agent.label + '"; ';
            }

        });


        graph_src += '}';

        console.log(graph_src);

        // let graphviz compute the graph representation
        var graph_graphviz = Viz(graph_src);

        // inject the graph svg in the page
        var parser = new DOMParser();
        var graph_svg = parser.parseFromString(graph_graphviz, "image/svg+xml");
        document.querySelector("#activation-graph")
                .appendChild(graph_svg.documentElement);
    }

</script>

{% endblock %}